body {
  font: 10px sans-serif;
}
.hour-label {
  font-size: 24px;
}
.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
.bar {
  fill: orange;
}
.solidArc:hover {
  fill: orangered ;
}
.solidArc {
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.x.axis path {
  display: none;
}
.aster-score {
  line-height: 1;
  font-weight: bold;
  font-size: 500%;
}
.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}
/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}
/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}

.nano {
  width: 350px;
  height: 100%;
}
.nano > .nano-pane {
  background: #dedede;
}
.nano > .nano-pane > .nano-slider {
  background: #ababab;
}
.nano > .nano-content {
  top: 100px;
  padding: 0 20px;
}

.radar-chart .level {
  stroke: grey;
  stroke-width: 0.5;
}
.radar-chart .axis line {
  stroke: grey;
  stroke-width: 1;
}
.radar-chart .axis .legend {
  font-family: sans-serif;
  font-size: 12px;
}
.radar-chart .axis .legend.top {
  dy: 1em;
}
.radar-chart .axis .legend.left {
  text-anchor: start;
}
.radar-chart .axis .legend.middle {
  text-anchor: middle;
}
.radar-chart .axis .legend.right {
  text-anchor: end;
}
.radar-chart .tooltip {
  font-family: sans-serif;
  font-size: 13px;
  transition: opacity 200ms;
  opacity: 0;
}
.radar-chart .tooltip.visible {
  opacity: 1;
}
.tooltip {
  text-transform: capitalize;
}
/* area transition when hovering */
.radar-chart .area {
  stroke-width: 2;
  fill-opacity: 0.5;
}
.radar-chart.focus .area {
  fill-opacity: 0.1;
}
.radar-chart.focus .area.focused {
  fill-opacity: 0.7;
}
.radar-chart .circle {
  fill-opacity: 0.9;
}
/* transitions */
.radar-chart .area,
.radar-chart .circle {
  transition: opacity 300ms, fill-opacity 200ms;
  opacity: 1;
}
.radar-chart .d3-enter,
.radar-chart .d3-exit {
  opacity: 0;
}

.node {
  stroke: #fff;
  stroke-width: 3px;
  cursor: pointer;
}
.link {
  stroke: #f5f5f5;
  stroke-opacity: .6;
}
/* --------------------------------

Primary style

-------------------------------- */
*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*::after,
*::before {
  content: '';
}
body {
  font-size: 100%;
  font-family: "Raleway", sans-serif;
}
a {
  color: #89ba2c;
  text-decoration: none;
}
h1 {
  font-size: 32px;
  margin: 20px 0 5px 0;
  text-transform: uppercase;
}
/* --------------------------------

Main components

-------------------------------- */
html,
body {
  height: 100%;
  overflow: hidden;
}
.clearfix {
  clear: both;
}
.disclaimer {
  position: fixed;
  bottom: 30px;
  text-align: center;
  font-size: 11px;
  color: #ababab;
}
.main-content {
  margin: 0 auto;
  width: 60%;
  padding: 30px 30px 0 30px;
  overflow: hidden;
}
.container {
  background-color: white;
  height: 600px;
  position: relative;
}
.container svg {
  display: block;
  margin: 0 auto;
}
.container.aster-container {
  position: relative;
  top: 600px;
  transition: top 250ms ease-in-out;
}
.container.aster-container.active {
  top: -600px;
}
.toolbar {
  padding-bottom: 30px;
  margin-bottom: 60px;
  border-bottom: 1px solid #efefef;
}
.aster-score {
  font-size: 64px;
}
.arrow {
  position: absolute;
  top: 40%;
  color: #111111;
  text-align: center;
}
.arrow .fa {
  font-size: 72px;
}
.arrow .label {
  font-size: 12px;
}
.arrow:hover {
  color: #39c6be;
}
.arrow.btn-prev {
  left: 0;
}
.arrow.btn-next {
  right: 0;
}
.hidden {
  display: none;
}
.hour-label {
  color: #efefef;
}
/*     GRAPH and CHARTS    */
.bar-panel {
  position: absolute;
  top: 0;
  width: 20%;
  height: 100%;
  float: left;
  padding: 0 20px;
}
.bar-panel.from-right {
  right: 0;
  border-left: 1px solid #efefef;
}
.bar-panel.from-right .unit {
  float: right;
}
.bar-panel.from-left {
  left: 0;
  border-right: 1px solid #efefef;
}
.bar-panel.from-left .unit {
  float: left;
}
.bar-panel .subtitle {
  font-size: 11px;
  color: #ababab;
  border-bottom: 1px solid #efefef;
  padding-bottom: 10px;
}
.bar-element {
  margin-bottom: 10px;
  height: 40px;
  cursor: pointer;
}
.bar-element.disabled {
  opacity: 0.2;
}
.bar-element .label {
  color: #111111;
  width: 40%;
  float: left;
  height: 100%;
  line-height: 40px;
  font-weight: 100;
  font-size: 12px;
  text-transform: uppercase;
  white-space: nowrap;
}
.bar-element .bar-container {
  width: 60%;
  float: left;
  height: 100%;
}
.bar-element .bar-container .bar {
  height: inherit;
  min-width: 10px;
}
.bar-element .bar-container .bar .unit {
  white-space: nowrap;
  line-height: 40px;
  padding: 0px 10px;
  color: #111111;
  font-size: 11px;
}
.bar-element .bar-container .bar .unit.hidden {
  display: none;
}
.bar-element:not(.selected) .bar {
  background-color: #efefef !important;
}
.bar-element.selected .label {
  color: #ababab;
  background-color: beige;
  padding-left: 10px;
  margin-left: -10px;
  margin-right: 10px;
}
.bar-element:hover:not(.bar-element.disabled) .label {
  color: white;
  background-color: lightblue;
  padding-left: 10px;
  margin-left: -10px;
  margin-right: 10px;
}
.languages .bar {
  float: right;
}
.languages .selected .bar {
  background-color: #ababab !important;
}
.info-message {
  margin: 0 auto;
  font-size: 21px;
  width: 100%;
  text-align: center;
}
.info-message .highlighted {
  color: #ababab;
}
svg {
  overflow: visible;
}

.switch {
  position: relative;
  height: 40px;
  width: 160px;
  border: 1px solid #efefef;
  float: left;
  margin-right: 30px;
}
.switch-label {
  position: relative;
  z-index: 2;
  float: left;
  width: 78px;
  padding: 0;
  line-height: 40px;
  font-size: 12px;
  color: #ababab;
  text-align: center;
  cursor: pointer;
}
.switch-label:active {
  font-weight: bold;
}
.switch-label-off {
  padding-left: 2px;
}
.switch-label-on {
  padding-right: 2px;
}
.switch-input {
  display: none;
}
.switch-input:checked + .switch-label {
  font-weight: bold;
  color: white;
  -webkit-transition: 0.15s ease-out;
  -moz-transition: 0.15s ease-out;
  -o-transition: 0.15s ease-out;
  transition: 0.15s ease-out;
}
.switch-input:checked + .switch-label-on ~ .switch-selection {
  /* Note: left: 50% doesn't transition in WebKit */
  left: 78px;
}
.switch-selection {
  display: block;
  position: absolute;
  z-index: 1;
  top: 2px;
  left: 2px;
  width: 78px;
  height: 34px;
  background-color: #39c6be;
  -webkit-transition: left 0.15s ease-out;
  -moz-transition: left 0.15s ease-out;
  -o-transition: left 0.15s ease-out;
  transition: left 0.15s ease-out;
}
